# Подключение к базе данных PostgreSQL (Docker контейнер на localhost:5432)
DATABASE_URL = ""

# Путь для хранения аудио файлов, пример - локальная папка проекта
MEDIA_STORAGE_PATH=./media

# Настройки whisper
WHISPER_MODEL_SIZE=medium
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_LANGUAGE=ru

# HuggingFace токен для Pyannote diarization (замените на ваш токен)
HUGGINGFACE_TOKEN=

# VAD настройка (агрессивность, 0-3)
VAD_AGGRESSIVENESS=2

# WebSocket ограничения
MAX_CONNECTIONS=100
CONNECTION_TIMEOUT=300

OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:3b
